.item {
    width: fit-content;
    background-color: rgb(26, 20, 20);
    margin: 0px 10px 0px 0px;
}

.menu_item {
    font-size: 28px;
    font-weight: 500;
    color: beige;
}

.item.menu_item {
    color: aliceblue;
}

.active {
    color: brown;
}